.text {
    font-family: "Rubik", sans-serif; 
    color: #BDBDBD;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    opacity: 100%;
    align-self: center;
    left: auto;    
}

.label {
    font-family: "Rubik", sans-serif;
    color: #424242;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.2px;
    opacity: 100%;
    left: auto;
}

.other-type-text {
    font-family: "Rubik", sans-serif;
    color: #6E6CDF;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    font-weight: 700;
    opacity: 100%;
    align-self: self-end;
}