.title {
    font-family: "Rubik", sans-serif;  
    font-weight: bold;  
    color: #424242;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0%;
    opacity: 100%;
    align-self: center;
    left: auto;
}